@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<p>sennis3, 653900061<br><br>I am an undergrad student at the University of Illinois at Chicago studying computer science.</p>
