@page
@model GetLineInputModel
@{
  ViewData["Title"] = "Get Line Input";
}

<div class="container">  
    <h2>Which line(s) are you interested in?</h2>  
    <hr />  
    <br />  
		<form action="LineInfo" method="get">
				
        <div class="row">  
            <div class="col-md-4">  
                <label asp-for="Input">Enter line name (full or partial):</label>  
                <input asp-for="Input" class="form-control" />  
            </div>  
        </div>   
				
        <br />  
        <input type="submit" value="Lookup" class="btn btn-primary" />  
        <a class="btn btn-default" href="/">Cancel</a>  
				
    </form>
</div>

